$main-font: "Poppins", sans-serif;
$secondary-font: "Open Sans", sans-serif;
$black-background-color: #2c2c2c;
$main-background-color: #e5e5e5;
$text-main-color: #6c788b;
$black-color: #253757;
$black-color-2: #334563;
$grey-color: #c0cdd7;
$blue-color: #2060f6;
$white-color: #fff;
